 
<div class="compani">
	<div class="col-lg-5">
			<h1>
				Ви будуєте на десятиріччя - 
				пропонуємо  співпрацю, щоб
				десятиріч було більше!
			</h1>
			<p>
				ТзОВ "Ю.КОМ" засновано у 2000 році. 
				Компанія є виробником металочерепиці, профнастилу, 
				водостічних систем та аксесуарів для даху. 
				Завод Ю.КОМ знаходиться у Львівській області 
				(с. Бучали, Городоцький район
			</p>
	</div>
	<div class="col-lg-4">
		<img src="">
	</div>
</div>