<div class="content">
    <div class="top_line top_line_cotalog">
        <h1>Каталог товарів</h1>
    </div>
    <div class="tovar">
      <ul>
        <li>
          <img src="./image/row.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row1.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row2.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row3.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row4.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row5.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row6.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row7.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row8.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row8.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
      </ul>
    </div>