<div class="slider">
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
         <div class="shadow_line ">
            <ol class="carousel-indicators line">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
         </div>                    
      <div class="carousel-inner" role="listbox">
        <div class="item active"><img src="./image/slider5.jpg"></div>
        <div class="item"><img src="./image/slider3.jpg"></div>
        <div class="item"><img src="./image/slider5.jpg"></div>
        <div class="item"><img src="./image/slider2.jpg"></div>
      </div>
    </div>
</div>
<div class="content">
    <div class="top_line">
        <h1>Популярні товари</h1>
        <a href="#"></a>  
    </div>
    <div class="tovar">
      <ul>
        <li>
          <img src="./image/row.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row1.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row2.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row3.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row4.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row5.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row6.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row7.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
        <li>
          <img src="./image/row8.png">
          <p>Металочерепиця</p>
          <a href="#">Детальніше</a>
        </li>
      </ul>
    </div>
    <div class="bottom_line">
      <h1>Про компанію</h1>
    </div>
    <div class="bottom_text">
        <p>
          ТзОВ "Ю.КОМ" засновано у 2000 році. Компанія є виробником металочерепиці, профнастилу, водостічних систем та аксесуарів для даху. Завод Ю.КОМ знаходиться у Львівській області (с. Бучали, Городоцький район). Ми працюємо із металургійними комбінатами без посередників і виготовляємо продукцію виключно з високоякісної сталі провідних світових виробників: ArcelorMittal (Бельгія) Florian (Польща) Thyssen Krupp (Німеччина) Corus (Англія) Водостічна система нашого виробництва є надійною і простою в монтуванні, має різні діаметри та кольори. Дерев'яні елементи для даху Ю.КОМ виготовляє на власній пилорамі, використовуючи лише якісну карпатську деревину. Аксесуари для даху за привабливими цінами досконало завершать Вашу покрівлю. Супутні матеріали: утеплювач Rockwool, гідро - пароізоляція Juta, шурупи Hamar, ущільнювачі, бітумні стрічки Plastter, фарби завжди наявні на складі. Кваліфіковані працівники компанії нададуть грамотні кон
        </p>
        <ul>
          <li><img src="./image/macka1.png"></li>
          <li><img src="./image/macka2.png"></li>
          <li><img src="./image/macka3.png"></li>
          <li><img src="./image/macka4.png"></li>
        </ul>
    </div>
</div>