<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
      	<a href="@"><img src="./image/footer_logo.png"></a>
      </div>
      <div class="col-lg-2 col-lg-offset-1">
      	<p><rp></rp>
      		Головна<br>
			Каталог товарів<br>
			Доставка та оплата<br>
			Наші проекти<br>
			Про компанію<br>
			Контакти<br>
      	</p>
      </div>
      <div class="col-lg-2">
  	     <div class="adres">
            <ul>
                <li><h4>Телефониp</h4></li>
                <li><p><span>(032) 239 37 00</span></p></li>
                <li><p><span>(032) 239 37 00</span></p></li>
                <li><p><span>(050) 462 15 05</span></p></li>
            </ul>
         </div>
      </div> 
      <div class="col-lg-2">
      	<div class="adres">
            <ul>
                <li><h3>Адреса:</h3></li>
                <li><p>м. Львів</p></li>
                <li><p>вул.Героїв УПА 73</p></li>
                <li><h4>Режим роботи:</h4></li>
                <li><p>Пн-Пт: 9:00-18:00</p></li>
                <li><p>Сб-Нд: вихідний</p></li>
            </ul>
        </div>
      </div>
      <div class="col-lg-3">
	    <div class="mail mail_footer">
             <img src="./image/mail.png">
             <p>Напишіть нам:</p>
             <a href="roof@ukom.eu">roof@ukom.eu</a>
         </div>
      </div>
      <div class="col-lg-12">
      	<p class="prava">Всі права захищено © 2016</p></div>
    </div>
  </div>
</footer>