<header>
    <div class="header_line">
        <div class="container">
           <div class="row">
            <div class="col-lg-8">
                <ul class="menu">
                    <li><a href="index.html">Головна</a></li>
                    <li><a href="catalog.html">Каталог товарів</a></li>
                    <li><a href="#">Наші проекти</a></li>
                    <li><a href="kompania.html">Про компанію</a></li>
                    <li><a href="#">Контакти</a></li>
                </ul>
            </div>
            <div class="col-lg-1  col-lg-offset-3 ">
               <div class="language">
                  <ul>
                      <li><a href="#"><img src="./image/pr_ua.png"></a></li>
                      <li><a href="#"><img src="./image/pr_ru.png"></a></li>
                  </ul>
               </div>
            </div>
        </div>
    </div>
    </div>
       <div class="container">
        <div class="row">
              <div class="col-lg-3">
                  <div class="logo">
                      <img src="./image/logotip.png">
                      <p>Виготовлення та продаж покрівельних<br>
                      матеріалів та аксесуарів для дах</p>
                  </div>
              </div>
              <div class="col-lg-2">
                  <div class="vizual">
                      <h2>
                          Візуалізатор<br>будинку
                      </h2>
                      <a href="#">Запроектувати</a>
                  </div>
              </div>
              <div class="col-lg-2">
                <div class="adres">
                    <ul>
                        <li><h3> Адреса</h3></li>
                        <li><img src="./image/list_home.png"><p>м. Львів</p></li>
                        <li><p>вул.Героїв УПА 73</p></li>
                        <li><p>Корпус 3</p></li>
                        <li><h4>Телефониp</h4></li>
                        <li><img src="./image/list_phone.png"><p><span>(032) 239 37 00</span></p></li>
                        <li><p><span>(032) 239 37 00</span></p></li>
                    </ul>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="adres">
                    <ul>
                        <li><h3>Режим роботи:</h3></li>
                        <li><img src="./image/list_alarm.png"><p>Пн-Пт: 9:00-18:00</p></li>
                        <li><p>Сб: 9:00-13:00</p></li>
                        <br><br>
                        <li><p>Нд: вихідний</p></li>
                        <li><img src="./image/list_star.png"><p><span>(067) 674 28 80</span></p></li>
                        <li><p><span>(067) 671 26 74</span></p></li>
                    </ul>
                </div>
              </div>
              <div class="col-lg-3">
                 <div class="search">
                  <form>
                      <input type="text" placeholder="Пошук...">
                      <input type="submit" value="">
                  </form>
                      <p>Наприклад: <span>Мінеральна вата</span>,
                      <span>Профнастил</span></p>
                 </div>
                 <div class="mail">
                     <img src="./image/mail.png">
                     <p>Напишіть нам:</p>
                     <a href="roof@ukom.eu">roof@ukom.eu</a>
                 </div>
              </div>
        </div>
    </div>
</header>


   <!-- put[type="text"] {
        padding: 0 30px 0 20px;
        font-family: @main_font;
        font-size: 13px;
        background-repeat: no-repeat;
        background-position: 230px 8px;
        background-image: url('../image/search.png');
    } -->