<div class="sidbar">
   <h2>Каталог товарів</h2>
    <ul>
        <li><a href="">Металочерепиця</a></li>
        <li><a href="">Профнастил</a></li>
        <li><a href="">Огорожа</a></li>
        <li><a href="">Водостічні системи</a></li>
        <li><a href="">Аксесуари</a></li>
        <li><a href="">Жалюзі</a></li>
        <li><a href="">Декоративні елементи</a></li>
        <li><a href="">Підпокрівельні плівки</a></li>
        <li><a href="">Теплоізоляція</a></li>
        <li><a href="">Засоби кріплення</a></li>
        <li><a href="">Мансардні вікна</a></li>
        <li><a href="">Супутні товари</a></li>
    </ul>
</div>
<div class="plei_list">
    <h3>Завантажте прайс-лист:</h3>
    <form>
        <input type="text" placeholder="Ваше ім’я">
        <input type="text" placeholder="Ваш телефон">
        <input type="submit" value="Завантажити прайс-лист">
    </form>
</div>