html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: helveticaneuecyr-black;
  src: url(../font/helveticaneuecyr-black.otf);
}
@font-face {
  font-family: helveticaneuecyr-roman;
  src: url(../font/helveticaneuecyr-roman.otf);
}
@font-face {
  font-family: helveticaneuecyr-bold;
  src: url(../font/helveticaneuecyr-bold.otf);
}
@font-face {
  font-family: helveticaneuecyr-light;
  src: url(../font/helveticaneuecyr-light.otf);
}
/*@font-face { зразок
	font-family: OpenSans-Bold;
	src:url(../font/OpenSans-Bold.ttf);
}*/
header {
  background: #f2f4f6;
}
.contant {
  background: #f2f4f6;
}
.menu,
rov {
  height: 40px;
}
.menu li,
rov li {
  float: left;
  display: block;
  line-height: 40px;
}
.menu li:first-child,
rov li:first-child {
  background: #e2e2e2;
}
.menu a,
rov a {
  line-height: 40px;
  padding: 12px 30px;
  font-family: helveticaneuecyr-roman;
  font-size: 0.9375em;
  color: #595959;
  text-decoration: none;
}
.menu a:hover,
rov a:hover {
  background: #e2e2e2;
}
.header_line {
  background: #fff;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0px -1px 10px #ccc;
}
.language li {
  line-height: 40px;
  display: inline-block;
}
.logo p {
  font-family: helveticaneuecyr-roman;
  font-size: 0.8125em;
  color: #010101;
}
.vizual {
  overflow: hidden;
  height: 130px;
  background: url('../image/home.png');
  background-repeat: no-repeat;
}
.vizual h2 {
  margin: 20px 13px;
  text-transform: uppercase;
  font-family: helveticaneuecyr-black;
  font-size: 1.125em;
  color: #eb3d00;
}
.vizual a {
  margin: 10px;
  padding: 8px 5px;
  font-family: helveticaneuecyr-roman;
  font-size: 0.6875em;
  background: #eb3d00;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
}
.adres li {
  font-family: helveticaneuecyr-bold;
  color: #4a4a4a;
}
.adres li .top_list {
  margin-bottom: 5px;
}
.adres li img {
  float: left;
}
.adres li p {
  margin-left: 30px;
  font-size: 0.875em;
  font-family: helveticaneuecyr-roman;
  color: #595959;
}
.adres li span {
  font-size: 1.125em;
}
.adres li h3 {
  margin-bottom: 5px;
}
.adres li h4 {
  margin: 10px 0 5px 0;
}
.search form {
  position: relative;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px #E8E5E5;
  background: #fff;
}
.search input {
  background: none;
  border: none;
}
.search input[type="text"] {
  width: 85%;
  height: 32px;
  padding-left: 10px;
  float: left;
}
.search input[type="submit"] {
  width: 14px;
  height: 16px;
  margin: 9px;
  float: right;
  background: url('../image/search.png');
  background-repeat: no-repeat;
}
.search p {
  margin-top: 15px;
  font-size: 12px;
  font-family: helveticaneuecyr-light;
  color: #7e7e7e;
}
.search span {
  color: #eb3d00;
  text-decoration: underline;
}
.mail {
  overflow: hidden;
  width: 100%;
  height: 50px;
  background: #fff;
  margin-top: 22px;
  box-shadow: 0px 0px 3px #E8E5E5;
}
.mail img {
  float: left;
  margin: 5px 10px 0 20px;
}
.mail p {
  margin-top: 10px;
  font-size: 14px;
  font-family: main_font;
  color: #595959;
}
.mail a {
  font-family: helveticaneuecyr-roman;
  color: #4d60d7;
  text-decoration: underline;
}
.sidbar {
  float: left;
  width: 100%;
  margin-top: 20px;
  line-height: 40px;
  box-shadow: 0px -1px 10px #ccc;
}
.sidbar h2 {
  height: 40px;
  padding-left: 14px;
  font-family: helveticaneuecyr-bold;
  font-size: 1.125em;
  border-radius: 4px 4px 0 0 ;
  border-bottom: 1px solid #efefef;
  background: #eb3d00;
  color: #fff;
}
.sidbar li {
  height: 36px;
  padding-left: 14px;
  border-bottom: 1px solid #efefef;
  background: #fff;
}
.sidbar li:hover {
  background: #f2f2f2;
}
.sidbar a {
  font-size: 16px;
  font-family: helveticaneuecyr-roman;
  color: #595959;
  text-decoration: none;
}
.plei_list {
  float: left;
  width: 100%;
  margin-top: 20px;
  line-height: 40px;
  box-shadow: 0px -1px 10px #ccc;
  padding: 15px;
  border-radius: 4px 4px 0 0;
  background: #fff;
}
.plei_list h2 {
  height: 40px;
  padding-left: 14px;
  font-family: helveticaneuecyr-bold;
  font-size: 1.125em;
  border-radius: 4px 4px 0 0 ;
  border-bottom: 1px solid #efefef;
  background: #eb3d00;
  color: #fff;
}
.plei_list li {
  height: 36px;
  padding-left: 14px;
  border-bottom: 1px solid #efefef;
  background: #fff;
}
.plei_list li:hover {
  background: #f2f2f2;
}
.plei_list a {
  font-size: 16px;
  font-family: helveticaneuecyr-roman;
  color: #595959;
  text-decoration: none;
}
.plei_list h3 {
  font-family: helveticaneuecyr-roman;
  font-size: 16px;
  color: #595959;
}
.plei_list input {
  height: 28px;
  width: 100%;
  line-height: 15px;
  font-family: helveticaneuecyr-roman;
  font-size: 14px;
  color: #bababa;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
}
.plei_list input[type="text"] {
  padding-left: 10px;
}
.plei_list input[type="submit"] {
  height: 35px;
  border-radius: 20px;
  color: #fff;
  background: #d1d1d1;
  box-shadow: 0px 1px 3px #888;
  border: none;
}
.slider {
  height: 350px;
  position: relative;
  margin-top: 20px;
}
.slider img {
  width: 100%;
  height: auto;
}
.shadow_line {
  width: 100%;
  z-index: 5;
  height: 25px;
  position: absolute;
  bottom: 0;
  background: #000;
  overflow: hidden;
  opacity: .6;
}
.shadow_line li:hover {
  background: #eb3d00;
}
.shadow_line li:active {
  background: #eb3d00;
}
.shadow_line ol {
  width: auto;
  text-align: right;
  right: 20px;
  bottom: 5px;
}
.content {
  margin-top: 20px;
}
.top_line {
  overflow: hidden;
  margin-bottom: 15px;
}
.top_line h1 {
  position: relative;
  float: left;
  font-size: 22px;
  font-family: helveticaneuecyr-bold;
  color: #666;
}
.top_line h1:after {
  display: block;
  height: 1px;
  width: 236.39%;
  top: 12px;
  left: 215px;
  z-index: 0;
  position: absolute;
  content: "";
  background: url('../image/line.png');
}
.top_line a {
  margin-top: -1px;
  float: right;
  height: 30px;
  width: 138px;
  background: url('../image/button.png');
}
.top_line a:hover {
  background-position: 0 -56px;
}
.top_line a:active {
  background-position: 0 -112px;
}
.tovar {
  text-align: center;
}
.tovar li {
  height: 280px;
  width: 30.95%;
  float: left;
  display: block;
  margin-right: 3.55%;
  margin-bottom: 25px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px -1px 10px #ccc;
}
.tovar li:nth-child(3n) {
  margin-right: 0px;
}
.tovar img {
  height: 160px;
  width: 76.92%;
  padding: 30px 15px 40px 15px;
}
.tovar p {
  font-family: helveticaneuecyr-roman;
  font-size: 18px;
  color: #595959;
  margin-bottom: 30px;
}
.tovar a {
  padding: 10px 45px;
  font-family: helveticaneuecyr-bold;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background: #eb3d00;
  border-radius: 30px;
}
.bottom_line h1 {
  margin-bottom: 15px;
  font-size: 22px;
  font-family: helveticaneuecyr-bold;
  color: #666;
}
.bottom_text p {
  line-height: 20px;
  font-size: 14px;
  font-family: helveticaneuecyr-bold helveticaneuecyr-roman;
  color: #a8a8a8;
}
.bottom_text ul {
  text-align: center;
}
.bottom_text li {
  margin-top: 10px;
  margin: 1.75%;
  float: left;
  display: block;
}
footer {
  height: 230px;
  position: relative;
  padding-top: 25px;
  background: url(../image/footer_bg.png);
}
footer:after {
  display: block;
  height: 2px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  content: "";
  background: url('../image/footer_line.png');
}
footer p {
  line-height: 20px;
  font-family: helveticaneuecyr-roman;
  font-size: 14px;
  color: #595959;
}
.mail_footer {
  margin: none;
}
.prava {
  margin-top: 40px;
  text-align: center;
}
.top_line_cotalog h1:after {
  width: 345.39%;
}
.compani {
  overflow: hidden;
  margin-top: 20px;
  background: #fff;
}
.compani h1 {
  font-family: helveticaneuecyr-bold;
  font-size: 24px;
  color: #666;
}
.top {
  margin-top: 20px;
}
