@font-face {
	font-family: helveticaneuecyr-black ;
	src:url(../font/helveticaneuecyr-black.otf);
}
@font-face {
	font-family: helveticaneuecyr-roman;
	src:url(../font/helveticaneuecyr-roman.otf);
}
@font-face {
	font-family: helveticaneuecyr-bold;
	src:url(../font/helveticaneuecyr-bold.otf);
}
@font-face {
	font-family: helveticaneuecyr-light;
	src:url(../font/helveticaneuecyr-light.otf);
}

/*@font-face { зразок
	font-family: OpenSans-Bold;
	src:url(../font/OpenSans-Bold.ttf);
}*/