@import 'reset';
@import 'fonts';

@font_black: helveticaneuecyr-black;
@font_bold: helveticaneuecyr-bold;
@font_light: helveticaneuecyr-light;
@main_font: helveticaneuecyr-roman;


header { background: #f2f4f6; }
.contant { background: #f2f4f6; }
.menu,rov {
    height: 40px;
    li {
        float: left;
        display: block;
        line-height: 40px;
        &:first-child { background: #e2e2e2; }
    }
    a {
        line-height: 40px;
        padding: 12px 30px;
        font-family: @main_font;
        font-size: 0.9375em;
        color: #595959;
        text-decoration: none;
        &:hover { background: #e2e2e2; }
    }
}
.header_line {
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px -1px 10px #ccc;
}
.language {
    li {
        line-height: 40px;
        display: inline-block;
    }
}
.logo {
    p {
        font-family: @main_font;
        font-size: 0.8125em;
        color: #010101;
    }
}
.vizual {
    overflow: hidden;
    height: 130px;
    background: url('../image/home.png');
    background-repeat: no-repeat;
    h2 {
        margin: 20px 13px;
        text-transform: uppercase;
        font-family: @font_black;
        font-size: 1.125em;
        color: #eb3d00;
    }
    a {
        margin: 10px;
        padding: 8px 5px;
        font-family: @main_font;
        font-size: 0.6875em;
        background: #eb3d00;
        color: #fff;
        border-radius: 20px;
        text-decoration: none;
    }
}
.adres{ 
    li {
        font-family: @font_bold;
        color: #4a4a4a;
        .top_list { margin-bottom: 5px; }
        img { float: left; }
        p {
            margin-left: 30px;
            font-size: 0.875em;
            font-family: @main_font;
            color: #595959;
        }
        span { font-size: 1.125em; }
        h3 { margin-bottom: 5px; }
        h4 { margin: 10px 0 5px 0; }        
    }
}
.search {
    form {
        position: relative;
        width: 100%;
        height: 32px;
        border-radius: 4px;
        box-shadow: 0px 0px 3px #E8E5E5;
        background: #fff;
    }
    input {
        background: none;
        border: none;
    }
    input[type="text"] {
        width: 85%;
        height: 32px;
        padding-left: 10px;
        float: left;
    }
    input[type="submit"] {
        width: 14px;
        height: 16px;
        margin: 9px;
        float: right;
        background: url('../image/search.png');
        background-repeat: no-repeat;
    }
    p {
        margin-top: 15px;
        font-size: 12px;
        font-family: @font_light;
        color: #7e7e7e;
    }
    span {
        color: #eb3d00;
        text-decoration: underline;
    }
} 
.mail {overflow: hidden;
    width: 100%;
    height: 50px;
    background: #fff;
    margin-top: 22px;
    box-shadow: 0px 0px 3px #E8E5E5;    
    img {
        float: left;
        margin: 5px 10px 0 20px;
    }
    p {
        margin-top: 10px;
        font-size: 14px;
        font-family: main_font;
        color: #595959;
    }
    a {
        font-family: @main_font;
        color: #4d60d7;
        text-decoration: underline;
    }
}

//        header

.sidbar {
    float: left;
    width: 100%;
    margin-top: 20px;
    line-height: 40px;
    box-shadow: 0px -1px 10px #ccc;
    h2 {
        height: 40px;
        padding-left: 14px;
        font-family: @font_bold;
        font-size: 1.125em;
        border-radius: 4px 4px 0 0 ;
        border-bottom: 1px solid #efefef;
        background: #eb3d00;
        color: #fff;
    }
    li {
        height: 36px;
        padding-left: 14px;
        border-bottom: 1px solid #efefef;
        background: #fff;
        &:hover { background: #f2f2f2; }
    }
    a {
        font-size: 16px;
        font-family: @main_font;
        color: #595959;
        text-decoration: none;
    }
}
.plei_list {
    .sidbar;
    padding: 15px;
    border-radius: 4px 4px 0 0;
    background: #fff;
    h3 {
        font-family: @main_font;
        font-size: 16px;
        color: #595959;
    }
    input {
        height: 28px;
        width: 100%;
        line-height: 15px;
        font-family: @main_font;
        font-size: 14px;
        color: #bababa;
        border-radius: 8px;
        border: 1px solid #e2e2e2;
    }
    input[type="text"] { padding-left: 10px; }
    input[type="submit"] { 
        height: 35px;
        border-radius: 20px;
        color: #fff;
        background: #d1d1d1;
        box-shadow: 0px 1px 3px #888;
        border: none;
    }

}

// contents

.slider {
    height: 350px;
    position: relative;
    margin-top: 20px;    
    img {
        width: 100%;
        height: auto;
    }
}
.shadow_line {
    width: 100%;
    z-index: 5;
    height: 25px;
    position: absolute;
    bottom: 0;
    background: #000;
    overflow: hidden;
    opacity: .6;
    li {
        &:hover {  background: #eb3d00;}
        &:active {  background: #eb3d00;}
    }
    ol {
        width: auto;
        text-align: right;
        right: 20px;
        bottom: 5px;
    }
}
.content {
    margin-top: 20px;
}
.top_line {
    overflow: hidden;
    margin-bottom: 15px;
    h1 {
        position: relative;
        float: left;
        font-size: 22px;
        font-family: @font_bold;
        color: #666;
        &:after {
            display: block;
            height: 1px;
            width: 236.39%;
            top: 12px;
            left: 215px;
            z-index: 0;
            position: absolute;
            content: "";
            background: url('../image/line.png');

        }
    }
    a {
        margin-top: -1px;
        float: right;
        height: 30px;
        width: 138px;
        background: url('../image/button.png');

        &:hover { background-position: 0 -56px; }
        &:active { background-position: 0 -112px; }
    }
}
.tovar {
    text-align: center;
    li {
        height: 280px;  
        width: 30.95%; 
        float: left;
        display: block; 
        margin-right: 3.55%;
        margin-bottom: 25px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0px -1px 10px #ccc;
        &:nth-child(3n) { margin-right: 0px; }
    }
    img {
        height: 160px;
        width: 76.92%;
        padding: 30px 15px 40px 15px }
    p {
        font-family: @main_font;
        font-size: 18px;
        color: #595959;
        margin-bottom: 30px;
    }
    a {
        padding: 10px 45px;
        font-family: @font_bold;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        background: #eb3d00;
        border-radius: 30px; 
    }
}
.bottom_line {
    h1 {
        margin-bottom: 15px;
        font-size: 22px;
        font-family: @font_bold;
        color: #666;
    }
}
.bottom_text {
    p {
        line-height: 20px;
        font-size: 14px;
        font-family: @font_bold @main_font;
        color: #a8a8a8;
    }
    ul { text-align:center;}
    li {
        margin-top: 10px;
        margin: 1.75%;
        float: left;
        display: block;
    }
}

//      footer 

footer {
    height: 230px;
    position: relative;
    padding-top: 25px;
    background: url(../image/footer_bg.png);
   &:after {
            display: block;
            height: 2px;
            width: 100%;
            top: 0px;
            left: 0px;
            position: absolute;
            content: "";
            background: url('../image/footer_line.png');

        }
    p {
        line-height: 20px;
        font-family: @main_font;
        font-size: 14px;
        color: #595959;
    }
}
.mail_footer { margin: none; }
.prava { 
    margin-top: 40px;
    text-align: center; 
}

//
//
//    catalog   
//   
//


.top_line_cotalog {
    h1 {
        &:after { width: 345.39%; }
    }
}

//
//
//    project   
//   
//




//
//
//    compania   
//   
//

.compani {
overflow: hidden;
    margin-top: 20px;
    background: #fff;
    h1 {
        font-family: @font_bold;
        font-size: 24px;
        color: #666;
    }
}
.top { margin-top: 20px; }  // верхня лінія
